/*Fondo general */
body { 
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 20px;
    color: #333;
}

/*Titulo */
.titulo {
    color: white;
    background-color: #6725d1;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
/*Texto*/
.texto {
    background-color:#dff0d8;
    padding: 15px;
    margin: 20px auto;
    border-left: 5px solid #8a2be2;
    width: 80%;
    box-shadow:  0 2px 8px rgna(0,0,0,0.1);
}

/* Palabra destacada */
.texto span {
    color: red;
    font-weight: bold;
}

/*imgen */
.imagen {
    width: 300px;
    border: 5px soli #333;
    border-radius: 20 px;
    margin: 10px;
}
/* GIF */
.gif {
    width: 200px;   
    border-radius: 50%;
    margin: 10px;
}
/* Tabla */
tabla {
    width: 60%;
    border-collapse: collapse;
    margin: 20px;
}
th { background-color: #0077cc;
    color: white;
    padding: 10px;
}
td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}
tr:nth-child(even) { 
    background-color: #f2f2f2; 
}
